@import "../custom.scss";

.home {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5em;

    &__hello {
        padding: 4em 0em 2em 0em;
    }

    &__iam {
        display: flex;
        justify-content: center;
        color: #bfaee3;
    }

    &__cv {
        display: flex;
        justify-content: center;

        .btn-primary {
            padding: 20px;
            border-radius: 20px;
            font-size: 19px;
        }
    }
}