@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Source+Sans+Pro&display=swap');

body {
  margin: 0;
  padding: 0;
  --primary-color: #fff;
  --yellow: #fff6d2;
  --purple: #463997;
}