*{
  padding: 0;
  margin: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  height: 100%;
}

.nav {
  background-color: #ffd542;
  font-family: 'Sen', sans-serif;
  
}

.navbar-light .navbar-nav .nav-link {
  color: #271e85!important;
}

.background-white {
    background-color: #ffffff;
  }
  
  .background-blue {
    background-color: #2d98da;
  }

.subtitle {
    font-family: 'Sen', sans-serif;
    padding: 30px;
    text-align: center;
    font-size: 50px;
    color: #033e99;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hi {
  font-family: 'Sen', sans-serif;
  padding: 30px;
  color: #033e99;
  text-align: center;
}

.im {
  font-family: 'Sen', sans-serif;
  padding: 30px;
  font-size: 50px;
  color: #033e99;
  text-align: center;
}

.front {
  font-family: 'Sen', sans-serif;
  padding: 30px;
  color: #033e99;
  text-align: center;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileText {
  margin-left: 25%;
  margin-right: 25%;
  padding: 25px;
  text-align: center;
  background-color: #3e35a2;
  color:  #ffeba8;
  font-family: 'Sen', sans-serif;
  font-size: 18px;
  border-radius: 20px;
}

.projectContainer {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-bottom: 30px;
}

.projectFull {
  margin: 10px;
  flex-wrap: wrap;
}

.accordion>.card>.card-header  {
  font-family: 'Sen', sans-serif;
  color: #033686;
  text-align: center;

}

.card-title {
  padding: 20px;
  background-color: #3e35a2;
  color: #ffeba8;

}

.projectCards {
  background-color: #ffd542;
  font-family: 'Sen', sans-serif;
  color: #033686;
}

.btn-deploy {
  background-color: #fa7a4c!important;
  border-color: #fa7a4c!important;
}

.btn-deploy-text, .btn-repo-text {
  color: #ffffff;
}

.btn-repo {
  margin-left: 10px;
  background-color: #fa7a4c!important;
  border-color: #fa7a4c!important;
}

.experienceContainer {
  margin-left: 25%;
  margin-right: 20%;
  align-content: center;
}

.exp-title {
  font-family: 'Sen', sans-serif;
  color: #271e85;
}

.exp-tool {
  font-family: 'Sen', sans-serif;
  color: #271e85;
  font-weight: bolder;
}

.exp-des {
  font-family: 'Sen', sans-serif;
  color: #271e85;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.contactDescription {
  padding: 25px;
  text-align: center;
  background-color: #3e35a2;
  color:  #ffeba8;
  font-family: 'Sen', sans-serif;
  font-size: 18px;
  border-radius: 20px;
}

.card {
  align-items: center;
  margin-top: 20px;
}

img.img-contact{
  width: 50%;
  margin: 0 auto;
  display: table-row;
}

.btn-contact{
  padding: 20px;
  border-style: none;
  border-radius: 20px;
  font-size: 19px;
  font-family: 'Sen', sans-serif;
  background-color: #3e35a2;
  color: #ffeba8;
  
}

.btn-contact-gmail {
  margin-left: 25%;
  padding: 20px;
  border-style: none;
  border-radius: 20px;
  font-size: 19px;
  font-family: 'Sen', sans-serif;
  background-color: #3e35a2;
  color: #ffeba8;
  
}

.e-mail {
  margin-top: 15px;
  font-size: 18px;
  font-family: 'Sen', sans-serif;
  color: #3e35a2;
}

.footer {
  background-color: #3e35a2;
  color: #ffd542;
  font-family: 'Sen', sans-serif;
  text-align: center;
}

@media all and (max-width: 800px) {

  .experienceContainer {
    margin-left: 10%;
    margin-right: 10%;
    align-content: center;
  }

  .avatar-container {
    justify-content: center;
  }

  .profileText {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
    padding: 20px;
    text-align: center;
    font-size: 16px;
  }

  .contactDescription {
    font-size: 16px;
    margin-left: 10%;
    margin-right: 10%;
  }



}


@media all and (max-width: 480px) {

  .experienceContainer {
    margin-left: 10%;
    margin-right: 10%;
    align-content: center;
  }

  .avatar {
    width: 70%;
    margin-left: 50px;
  }

  .profileText {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}




}
