*{
  padding: 0;
  margin: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  background-color: #ffd542;
  font-family: 'Sen', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
  color: #271e85!important;
}

.background-white {
    background-color: #ffffff;
  }
  
  .background-blue {
    background-color: #2d98da;
  }

.subtitle {
    font-family: 'Sen', sans-serif;
    padding: 30px;
    text-align: center;
    font-size: 50px;
    color: #033e99;
}


.profileText {
  margin-left: 25%;
  margin-right: 25%;
  padding: 25px;
  text-align: center;
  background-color: #3e35a2;
  color:  #ffeba8;
  font-family: 'Sen', sans-serif;
  font-size: 18px;
  border-radius: 20px;
}

.projectContainer {
display: flex;
flex-wrap: wrap;
justify-content: center;

  margin-bottom: 30px;
}

.projectFull {
  margin: 10px;
  flex-wrap: wrap;
}

.projectCards {
  background-color: #fed330;
  font-family: 'Sen', sans-serif;
}



.experienceContainer {
  padding: 15px;
  margin-left: 20%;
  margin-right: 15%;
}

.contactInfo {
 text-align: center;

}

.contactDescription {
  font-family: 'Sen', sans-serif;
  color: #271e85;
  margin-bottom: 25px;
  
}

.contactCard {
  font-family: 'Sen', sans-serif;
  color: #ffda59;
}

.carousel-contact {
  margin-left: 35%;
  margin-right: 30%;
  max-width: 30%;
  font-family: 'Sen', sans-serif;
  
}

.footer {
  padding: 20px;
  background-color: #3e35a2;
  color: #ffd542;
  align-items: flex-end;
  text-align:  center;
  font-family: 'Sen', sans-serif;
}


/* @media only screen and (max-width: 480px) {
  body {
    background-image: url(images/background_480.jpg);
  }
}

@media only screen and (max-width: 1280px) {
  body {
    background-image: url(images/background_1280.jpg);
  }
} */