@import "../custom.scss";

$mainColor: #bfaee3;
$yellow: #fee686;

* {
    padding: 0;
    margin: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    height: 100%;
}

.nav {
    background-color: $yellow;
    font-family: 'Poppins', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: #545454 !important;
}

.background-white {
    background-color: #ffffff;
}

.background-blue {
    background-color: #2d98da;
}

.subtitle {
    padding: 30px;
    text-align: center;
    font-size: 50px;
    color: #033e99;
}